In [57]:
import streamlit as st
import datetime as dt
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///CryptolIVE.DB')

In [2]:
from sqlalchemy import inspect
inspector = inspect(engine)

In [58]:
st.title('Welcome to Basic Crypto dashboard')

2022-06-21 01:22:33.016
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Aymen\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [4]:
inspector.get_table_names()

['1INCHUSDT',
 'AAVEUSDT',
 'ACAUSDT',
 'ACHUSDT',
 'ADAUSDT',
 'ADXUSDT',
 'AGLDUSDT',
 'AIONUSDT',
 'AKROUSDT',
 'ALCXUSDT',
 'ALGOUSDT',
 'ALICEUSDT',
 'ALPACAUSDT',
 'ALPHAUSDT',
 'AMPUSDT',
 'ANCUSDT',
 'ANKRUSDT',
 'ARPAUSDT',
 'ARUSDT',
 'ASRUSDT',
 'ATAUSDT',
 'ATMUSDT',
 'ATOMUSDT',
 'AVAXUSDT',
 'AXSUSDT',
 'BADGERUSDT',
 'BAKEUSDT',
 'BANDUSDT',
 'BCHUSDT',
 'BEAMUSDT',
 'BELUSDT',
 'BETAUSDT',
 'BICOUSDT',
 'BNXUSDT',
 'BONDUSDT',
 'BTCUSDT',
 'BTGUSDT',
 'BTSUSDT',
 'BTTCUSDT',
 'C98USDT',
 'CAKEUSDT',
 'CELOUSDT',
 'CELRUSDT',
 'CFXUSDT',
 'CHRUSDT',
 'CHZUSDT',
 'CITYUSDT',
 'COMPUSDT',
 'COSUSDT',
 'COTIUSDT',
 'CRVUSDT',
 'CTKUSDT',
 'CTSIUSDT',
 'CTXCUSDT',
 'CVCUSDT',
 'CVXUSDT',
 'DARUSDT',
 'DASHUSDT',
 'DATAUSDT',
 'DEGOUSDT',
 'DEXEUSDT',
 'DFUSDT',
 'DIAUSDT',
 'DOGEUSDT',
 'DREPUSDT',
 'DUSKUSDT',
 'DYDXUSDT',
 'EGLDUSDT',
 'ENJUSDT',
 'ENSUSDT',
 'EOSUSDT',
 'ERNUSDT',
 'ETCUSDT',
 'ETHUSDT',
 'FARMUSDT',
 'FIDAUSDT',
 'FILUSDT',
 'FIOUSDT',
 'FIROUSDT',
 'FISUSDT',
 'FLMUSDT',
 'FLOWUSDT',
 'FLUXUSDT',
 'FORTHUSDT',
 'FORUSDT',
 'FTMUSDT',
 'FUNUSDT',
 'FXSUSDT',
 'GALAUSDT',
 'GLMRUSDT',
 'GTCUSDT',
 'GTOUSDT',
 'HARDUSDT',
 'HBARUSDT',
 'HIGHUSDT',
 'HIVEUSDT',
 'ICPUSDT',
 'ICXUSDT',
 'IDEXUSDT',
 'ILVUSDT',
 'IMXUSDT',
 'IOTAUSDT',
 'IOTXUSDT',
 'IRISUSDT',
 'JASMYUSDT',
 'JOEUSDT',
 'JUVUSDT',
 'KAVAUSDT',
 'KEYUSDT',
 'KLAYUSDT',
 'KNCUSDT',
 'KP3RUSDT',
 'KSMUSDT',
 'LAZIOUSDT',
 'LINAUSDT',
 'LINKUSDT',
 'LOKAUSDT',
 'LRCUSDT',
 'LSKUSDT',
 'LTCUSDT',
 'LTOUSDT',
 'LUNAUSDT',
 'MANAUSDT',
 'MASKUSDT',
 'MATICUSDT',
 'MBOXUSDT',
 'MCUSDT',
 'MDXUSDT',
 'MINAUSDT',
 'MIRUSDT',
 'MITHUSDT',
 'MKRUSDT',
 'MOVRUSDT',
 'MTLUSDT',
 'NBSUSDT',
 'NEARUSDT',
 'NEOUSDT',
 'NKNUSDT',
 'NMRUSDT',
 'NULSUSDT',
 'OCEANUSDT',
 'OGNUSDT',
 'OMGUSDT',
 'OMUSDT',
 'ONEUSDT',
 'OOKIUSDT',
 'ORNUSDT',
 'PEOPLEUSDT',
 'PERLUSDT',
 'PERPUSDT',
 'PLAUSDT',
 'POLSUSDT',
 'PONDUSDT',
 'PORTOUSDT',
 'POWRUSDT',
 'PSGUSDT',
 'PYRUSDT',
 'QIUSDT',
 'QTUMUSDT',
 'RAREUSDT',
 'RAYUSDT',
 'REEFUSDT',
 'RENUSDT',
 'REPUSDT',
 'REQUSDT',
 'RLCUSDT',
 'RNDRUSDT',
 'ROSEUSDT',
 'RSRUSDT',
 'RUNEUSDT',
 'RVNUSDT',
 'SANDUSDT',
 'SCUSDT',
 'SFPUSDT',
 'SKLUSDT',
 'SNXUSDT',
 'SOLUSDT',
 'SPELLUSDT',
 'SRMUSDT',
 'STMXUSDT',
 'STORJUSDT',
 'STRAXUSDT',
 'STXUSDT',
 'SUNUSDT',
 'SUSHIUSDT',
 'SXPUSDT',
 'SYSUSDT',
 'TFUELUSDT',
 'THETAUSDT',
 'TKOUSDT',
 'TLMUSDT',
 'TOMOUSDT',
 'TRIBEUSDT',
 'TROYUSDT',
 'TRUUSDT',
 'TRXUSDT',
 'TVKUSDT',
 'UMAUSDT',
 'UNFIUSDT',
 'UNIUSDT',
 'USDPUSDT',
 'UTKUSDT',
 'VITEUSDT',
 'VOXELUSDT',
 'VTHOUSDT',
 'WANUSDT',
 'WAVESUSDT',
 'WAXPUSDT',
 'WINGUSDT',
 'WINUSDT',
 'WRXUSDT',
 'WTCUSDT',
 'XECUSDT',
 'XEMUSDT',
 'XLMUSDT',
 'XMRUSDT',
 'XNOUSDT',
 'XRPUSDT',
 'XTZUSDT',
 'XVGUSDT',
 'XVSUSDT',
 'YFIIUSDT',
 'YFIUSDT',
 'YGGUSDT',
 'ZECUSDT',
 'ZENUSDT',
 'ZILUSDT',
 'ZRXUSDT']

In [5]:
symbols = pd.read_sql('SELECT name from sqlite_master where type = "table"',engine).name.to_list()

In [17]:
lookback = st.selectbox('Pick the lookback in minutes', [1,15,30])

In [28]:
def query_symb(symbol, lookback):
    now = dt.datetime.utcnow()
    before = now - dt.timedelta(minutes = lookback)
    #print(now,"*"*15,before)
    qur = f"""SELECT * from '{symbol}' WHERE time >= '{before}' """
    df = pd.read_sql(qur,engine)

    return df

In [29]:
query_symb('ethusdt',1)

                          TIME    PRICE
0   2022-06-20 23:08:04.104000  1111.03
1   2022-06-20 23:08:06.436000  1111.34
2   2022-06-20 23:08:08.511000  1111.43
3   2022-06-20 23:08:11.068000  1111.39
4   2022-06-20 23:08:14.103000  1111.28
5   2022-06-20 23:08:17.093000  1111.28
6   2022-06-20 23:08:19.100000  1110.83
7   2022-06-20 23:08:22.107000  1110.93
8   2022-06-20 23:08:24.309000  1111.11
9   2022-06-20 23:08:27.132000  1111.28
10  2022-06-20 23:08:31.157000  1111.31
11  2022-06-20 23:08:33.799000  1111.30
12  2022-06-20 23:08:35.985000  1111.02
13  2022-06-20 23:08:38.195000  1111.01
14  2022-06-20 23:08:41.216000  1111.00
15  2022-06-20 23:08:43.227000  1110.83
16  2022-06-20 23:08:46.025000  1110.74
17  2022-06-20 23:08:48.168000  1110.84
18  2022-06-20 23:08:50.248000  1110.92
19  2022-06-20 23:08:52.611000  1111.01
20  2022-06-20 23:08:54.621000  1111.64
21  2022-06-20 23:08:56.791000  1112.06
22  2022-06-20 23:08:59.287000  1111.75
23  2022-06-20 23:09:00.001000  1111.48
24  2022-06-20 23:09:02.299000  1111.36
25  2022-06-20 23:09:04.357000  1111.01

In [30]:
def return_calculus(sym,lookback):
    df = query_symb(sym,lookback)
    cum_ret = (df.PRICE.pct_change() + 1).prod() - 1
    return cum_ret

In [31]:
return_calculus('ethusdt',10)

0.002697728133966404

In [32]:
def all_returned():
    returns = []
    for symb in symbols:
        returns.append(return_calculus(symb,lookback))
    return returns

In [ ]:
if st.button('Update'):
    all_returned()

In [41]:
all_return = pd.DataFrame(all_returned(),index=symbols,columns=['CHANGE'])

In [42]:
all_return

             CHANGE
ICPUSDT    0.000000
OGNUSDT    0.000000
C98USDT    0.000000
IOTXUSDT   0.000747
RENUSDT   -0.000889
...             ...
VOXELUSDT  0.000000
HIGHUSDT   0.000000
JOEUSDT   -0.004525
ACHUSDT    0.000000
ACAUSDT   -0.003846

[228 rows x 1 columns]

In [53]:
top = all_return.CHANGE.nlargest(10)

In [59]:
st.write(top)

In [54]:
top

QIUSDT       0.008475
UNFIUSDT     0.003106
CVXUSDT      0.002375
DASHUSDT     0.002232
CFXUSDT      0.001969
LAZIOUSDT    0.001914
WANUSDT      0.001707
MINAUSDT     0.001621
FLMUSDT      0.001491
RLCUSDT      0.001490
Name: CHANGE, dtype: float64

In [51]:
bottom = all_return.CHANGE.nsmallest(10)

In [ ]:
st.write(bottom)

In [52]:
bottom

XVSUSDT    -0.007782
RAREUSDT   -0.005882
TRUUSDT    -0.005357
DATAUSDT   -0.005165
MDXUSDT    -0.004963
VTHOUSDT   -0.004808
JOEUSDT    -0.004525
BAKEUSDT   -0.004292
TLMUSDT    -0.004184
ACAUSDT    -0.003846
Name: CHANGE, dtype: float64