In [1]:
import datetime as dt
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///CryptolIVE.DB')

In [ ]:
symbols = pd.read_sql('SELECT * from ')

In [4]:
from sqlalchemy import inspect
inspector = inspect(engine)

In [6]:
inspector.get_table_names()

['1INCHUSDT',
 'AAVEUSDT',
 'ACAUSDT',
 'ACHUSDT',
 'ADAUSDT',
 'ADXUSDT',
 'AGLDUSDT',
 'AIONUSDT',
 'AKROUSDT',
 'ALCXUSDT',
 'ALGOUSDT',
 'ALICEUSDT',
 'ALPACAUSDT',
 'ALPHAUSDT',
 'AMPUSDT',
 'ANCUSDT',
 'ANKRUSDT',
 'ARPAUSDT',
 'ARUSDT',
 'ASRUSDT',
 'ATAUSDT',
 'ATMUSDT',
 'ATOMUSDT',
 'AVAXUSDT',
 'AXSUSDT',
 'BADGERUSDT',
 'BAKEUSDT',
 'BANDUSDT',
 'BCHUSDT',
 'BEAMUSDT',
 'BELUSDT',
 'BETAUSDT',
 'BICOUSDT',
 'BNXUSDT',
 'BONDUSDT',
 'BTCUSDT',
 'BTGUSDT',
 'BTSUSDT',
 'BTTCUSDT',
 'C98USDT',
 'CAKEUSDT',
 'CELOUSDT',
 'CELRUSDT',
 'CFXUSDT',
 'CHRUSDT',
 'CHZUSDT',
 'CITYUSDT',
 'COMPUSDT',
 'COSUSDT',
 'COTIUSDT',
 'CRVUSDT',
 'CTKUSDT',
 'CTSIUSDT',
 'CTXCUSDT',
 'CVCUSDT',
 'CVXUSDT',
 'DARUSDT',
 'DASHUSDT',
 'DATAUSDT',
 'DEGOUSDT',
 'DEXEUSDT',
 'DFUSDT',
 'DIAUSDT',
 'DOGEUSDT',
 'DREPUSDT',
 'DUSKUSDT',
 'DYDXUSDT',
 'EGLDUSDT',
 'ENJUSDT',
 'ENSUSDT',
 'EOSUSDT',
 'ERNUSDT',
 'ETCUSDT',
 'ETHUSDT',
 'FARMUSDT',
 'FIDAUSDT',
 'FILUSDT',
 'FIOUSDT',
 'FIROUSDT',
 'FISUSDT',
 'FLMUSDT',
 'FLOWUSDT',
 'FLUXUSDT',
 'FORTHUSDT',
 'FORUSDT',
 'FTMUSDT',
 'FUNUSDT',
 'FXSUSDT',
 'GALAUSDT',
 'GLMRUSDT',
 'GTCUSDT',
 'GTOUSDT',
 'HARDUSDT',
 'HBARUSDT',
 'HIGHUSDT',
 'HIVEUSDT',
 'ICPUSDT',
 'ICXUSDT',
 'IDEXUSDT',
 'ILVUSDT',
 'IMXUSDT',
 'IOTAUSDT',
 'IOTXUSDT',
 'IRISUSDT',
 'JASMYUSDT',
 'JOEUSDT',
 'JUVUSDT',
 'KAVAUSDT',
 'KEYUSDT',
 'KLAYUSDT',
 'KNCUSDT',
 'KP3RUSDT',
 'KSMUSDT',
 'LAZIOUSDT',
 'LINAUSDT',
 'LINKUSDT',
 'LOKAUSDT',
 'LRCUSDT',
 'LSKUSDT',
 'LTCUSDT',
 'LTOUSDT',
 'LUNAUSDT',
 'MANAUSDT',
 'MASKUSDT',
 'MATICUSDT',
 'MBOXUSDT',
 'MCUSDT',
 'MDXUSDT',
 'MINAUSDT',
 'MIRUSDT',
 'MITHUSDT',
 'MKRUSDT',
 'MOVRUSDT',
 'MTLUSDT',
 'NBSUSDT',
 'NEARUSDT',
 'NEOUSDT',
 'NKNUSDT',
 'NMRUSDT',
 'NULSUSDT',
 'OCEANUSDT',
 'OGNUSDT',
 'OMGUSDT',
 'OMUSDT',
 'ONEUSDT',
 'OOKIUSDT',
 'ORNUSDT',
 'PEOPLEUSDT',
 'PERLUSDT',
 'PERPUSDT',
 'PLAUSDT',
 'POLSUSDT',
 'PONDUSDT',
 'PORTOUSDT',
 'POWRUSDT',
 'PSGUSDT',
 'PYRUSDT',
 'QIUSDT',
 'QTUMUSDT',
 'RAREUSDT',
 'RAYUSDT',
 'REEFUSDT',
 'RENUSDT',
 'REPUSDT',
 'REQUSDT',
 'RLCUSDT',
 'RNDRUSDT',
 'ROSEUSDT',
 'RSRUSDT',
 'RUNEUSDT',
 'RVNUSDT',
 'SANDUSDT',
 'SCUSDT',
 'SFPUSDT',
 'SKLUSDT',
 'SNXUSDT',
 'SOLUSDT',
 'SPELLUSDT',
 'SRMUSDT',
 'STMXUSDT',
 'STORJUSDT',
 'STRAXUSDT',
 'STXUSDT',
 'SUNUSDT',
 'SUSHIUSDT',
 'SXPUSDT',
 'SYSUSDT',
 'TFUELUSDT',
 'THETAUSDT',
 'TKOUSDT',
 'TLMUSDT',
 'TOMOUSDT',
 'TRIBEUSDT',
 'TROYUSDT',
 'TRUUSDT',
 'TRXUSDT',
 'TVKUSDT',
 'UMAUSDT',
 'UNFIUSDT',
 'UNIUSDT',
 'USDPUSDT',
 'UTKUSDT',
 'VITEUSDT',
 'VOXELUSDT',
 'VTHOUSDT',
 'WANUSDT',
 'WAVESUSDT',
 'WAXPUSDT',
 'WINGUSDT',
 'WINUSDT',
 'WRXUSDT',
 'WTCUSDT',
 'XECUSDT',
 'XEMUSDT',
 'XLMUSDT',
 'XMRUSDT',
 'XNOUSDT',
 'XRPUSDT',
 'XTZUSDT',
 'XVGUSDT',
 'XVSUSDT',
 'YFIIUSDT',
 'YFIUSDT',
 'YGGUSDT',
 'ZECUSDT',
 'ZENUSDT',
 'ZILUSDT',
 'ZRXUSDT']

In [7]:
symbols = pd.read_sql('SELECT name from sqlite_master where type = "table"',engine).name.to_list()

In [9]:
lookback = 1

228

In [11]:
def query_symb(symbol, lookback):
    now = dt.datetime.utcnow()
    before = now - dt.timedelta(minutes = lookback)
    print(now,"*"*15,before)
    qur = f"""SELECT * from '{symbol}' WHERE time >= '{before}' """
    df = pd.read_sql(qur,engine)
    
    return df

In [24]:
    query_symb('ethusdt',1)

2022-06-14 20:09:14.695914 *************** 2022-06-14 20:08:14.695914

                          TIME    PRICE
0   2022-06-14 20:08:16.197000  1209.14
1   2022-06-14 20:08:18.308000  1209.24
2   2022-06-14 20:08:20.717000  1209.19
3   2022-06-14 20:08:23.046000  1209.28
4   2022-06-14 20:08:25.226000  1209.15
5   2022-06-14 20:08:27.238000  1209.01
6   2022-06-14 20:08:29.511000  1209.02
7   2022-06-14 20:08:31.727000  1208.79
8   2022-06-14 20:08:33.760000  1208.87
9   2022-06-14 20:08:36.263000  1208.87
10  2022-06-14 20:08:38.291000  1208.77
11  2022-06-14 20:08:40.477000  1208.62
12  2022-06-14 20:08:42.601000  1209.01
13  2022-06-14 20:08:45.301000  1209.02
14  2022-06-14 20:08:47.315000  1209.12
15  2022-06-14 20:08:50.182000  1209.27
16  2022-06-14 20:08:53.299000  1209.28
17  2022-06-14 20:08:55.518000  1209.38
18  2022-06-14 20:08:58.337000  1209.70
19  2022-06-14 20:09:00.001000  1209.65
20  2022-06-14 20:09:02.349000  1209.64
21  2022-06-14 20:09:04.952000  1209.72
22  2022-06-14 20:09:07.091000  1210.19
23  2022-06-14 20:09:09.363000  1210.14
24  2022-06-14 20:09:11.643000  1209.88
25  2022-06-14 20:09:14.317000  1209.55

In [14]:
def return_calculus(df):
    cum_ret = (df.PRICE.pct_change() + 1).prod() - 1
    return cum_ret

In [22]:
return_calculus(query_symb('ethusdt',10))

2022-06-14 20:08:53.904913 *************** 2022-06-14 19:58:53.904913

0.002146367335439603

In [ ]:
def all_returned():
    returns = []
    for symb in symbols: